<section class="main-section">
    <div class="container main-section__nav-container">
        <!-- Лого -->
        <header class="main-section__header">
            <a href=""><img src="#" alt="logo"></a>
        </header>

        <!-- Меню -->
        <nav class="main-section__nav nav-menu">
            <ul class="nav-menu__list">
                <li class="nav-menu__list-item"><a href="#">Пункт 1</a></li>
                <li class="nav-menu__list-item"><a href="#">Пункт 2</a></li>
                <li class="nav-menu__list-item"><a href="#">Пункт 3</a></li>
                <li class="nav-menu__list-item"><a href="#">Пункт 4</a></li>
            </ul>
        </nav>
    </div>

    <!-- Контент -->
    <div class="container main-section__content-container">
        Контент
    </div>

</section>